* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  font-size: 18px;
  line-height: 1.2;
  color: black;
  min-width: 960px;
}

a {
  color: blue;
  text-decoration: none;
}
a:hover{
  color: lightseagreen;
}

.App {
}
